<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>系统实验室</title>
    
	
	<link rel="stylesheet" href="assets/css/fonts/linecons/css/linecons.css">
	<link rel="stylesheet" href="assets/css/fonts/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/xenon-core.css">
	<link rel="stylesheet" href="assets/css/xenon-forms.css">
	<link rel="stylesheet" href="assets/css/xenon-components.css">
	<link rel="stylesheet" href="assets/css/xenon-skins.css">
	<link rel="stylesheet" href="assets/css/custom.css">
	<link rel="shortcut icon" href="assets/images/favicon.ico">
	<script src="assets/js/jquery.min.js"></script>
    <script type="text/javascript">
    	console.log("哈哈哈哈");
    	console.log("想看代码？");
    	console.log("药药切克闹！");
    	console.log("煎饼果子来一套！");
    	console.log("SWS开发team等你来！");
    	console.log("买煎饼果子！");
   var id =Math.floor(Math.random()*100000);

  localStorage.a='0';

 




   setInterval("link()",1000);

   function link(){
    //console.log("aaaa");
   var num = localStorage["a"];
   if (num=='0'||num==undefined) {
    localStorage.a=id;
   }else if (num==id) {

   }else{
    alert("其它窗口已经打开");
    window.open('/home','_self')
   };

   }

   function myFunction(){

   localStorage.a='0';
   }
    </script>

	

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
     <script src="assets/js/modernizr.custom.93386.js"></script>  
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		
	
	
</head>
 
